//------------------------------------
//-- Colors .
//------------------------------------





//-- basics
.primary
	background-color $color__primary
.success
	background-color $color__success
.info
	background-color $color__info
.warning
	background-color $color__warning
.danger
	background-color $color__danger
.dark
	background-color $color__dark
.light
	background-color $color__light
.black
	background-color $color__black
.white
	background-color $color__white
	
// grayscale
.color__
	&gray-dark
		background-color $color__gray-dark
	&gray-medium
		background-color $color__gray-medium
	&gray-light
		background-color $color__gray-light
	&gray-lighter
		background-color $color__gray-lighter
	&color__gray-lightest
		background-color $color__gray-lightest




























