//------------------------------------
//-- Mixing & Helpers
//------------------------------------





//-- Padding top
.p-t-n
	padding-bottom 0
.p-t-s
	padding-top $padding__small
.p-t-m
	padding-top $padding__medium
.p-t-b
	padding-top $padding__big
.p-t-l
	padding-top $padding__large
.p-t-h
	padding-top $padding__huge

//-- Padding bottom
.p-b-n
	padding-bottom 0
.p-b-s
	padding-bottom $padding__small
.p-b-m
	padding-bottom $padding__medium
.p-b-b
	padding-bottom $padding__big
.p-b-l
	padding-bottom $padding__large
.p-b-h
	padding-bottom $padding__huge
	
//-- Margin Top
.m-t-n
	margin-top 0
.m-t-s
	margin-top $padding__small
.m-t-m
	margin-top $padding__medium
.m-t-b
	margin-top $padding__big
.m-t-l
	margin-top $padding__large
.m-t-h
	margin-top $padding__huge

//-- Margin Bottom
.m-b-n
	margin-bottom 0
.m-b-s
	margin-bottom $padding__small
.m-b-m
	margin-bottom $padding__medium
.m-b-b
	margin-bottom $padding__big
.m-b-l
	margin-bottom $padding__large
.m-b-h
	margin-bottom $padding__huge






//-- Utility classes
//------------------------------------

.pull-right
	float right !important

.pull-left
	float left !important


// Toggling content
//------------------------------------

.hide
	display none !important

.show
	display block !important

.invisible
	visibility hidden

.hidden
	display none !important

// For Affix plugin
//------------------------------------

.affix
	position fixed

