doctype
html.no-js
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Clean
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='assets/css/index.css')

		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat:400,700')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:900italic,900,700italic,700,500italic,500,400italic,400,300italic,300,100italic')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Fira+Sans:400,300,300italic,400italic,500,500italic,700,700italic')
		<link href='https://fonts.googleapis.com/css?family=Lato:400,300,100' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	
	body
		main.framework__ui
			section.site__hero
				.container__fixed-width
					.row.text-center
						h1.hero_title 
							| Pulse
							p.excerpt Real-Time Sentiment Analysis, made by Socialab

			section.p-t-b.p-b-m
				.container__fixed-width
					h6.block-title basics elements
					h2.m-b-s Buttons first snack
					.row.m-b-s
						.col-desktop-06
							a(href="#").btn.big.primary primary
						.col-desktop-06
							a(href="#").btn.big.warning warning
						.col-desktop-06
							a(href="#").btn.big.danger danger
						.col-desktop-06
							a(href="#").btn.big.dark dark
						.col-desktop-06
							a(href="#").btn.big.light light
						.col-desktop-06
							a(href="#").btn.big.success success
					.row.m-b-s
						.col-desktop-06
							a(href="#").btn.big.info info
						.col-desktop-06
							a(href="#").btn.big.gray gray
						.col-desktop-06
							a(href="#").btn.big.default default
						.col-desktop-06
							a(href="#").btn.big.dark dark
						.col-desktop-06
							a(href="#").btn.border.big.light light
						.col-desktop-06
							a(href="#").btn.big.border.success success
					.row.m-b-s
						.col-desktop-06
							a(href="#").btn.big.border.info info
						.col-desktop-06
							a(href="#").btn.big.border.gray gray
						.col-desktop-06
							a(href="#").btn.big.border.default default
						.col-desktop-06
							a(href="#").btn.big.border.dark dark
						.col-desktop-06
							a(href="#").btn.border.big.light light
						.col-desktop-06
							a(href="#").btn.big.border.white success

			section.p-t-b.p-b-m
				.container__fixed-width
					h6.block-title basics elements
					h2.m-b-s input first snack
					.row.m-b-s
						.col-desktop-04
							input.form-control(type='text', value='', placeholder='Inactive')
						.col-desktop-04
							input.form-control(type='text', value='Error')
						.col-desktop-04
							input.form-control(type='text', value='Success')
						.col-desktop-04
							input.form-control(type='text', value='Disabled', disabled='disabled')



					//- .row.text-center.container__small.m-b-b
					//-   h6.block-title Paint it the way you Like it
					//-   h1 Something Different, Something New.
					//- .row
					//-   .col-desktop-02.col-mobile-02
					//-     h2.block-title Eight base color pallete
					//-     p The dashboard will synergize with the colour selection made by the user and appropriately amend. Similarly, all other elements will sync according to the base colours.
					//-       br 
					//-       small Please refer to Working with Stylus for more on theme customization
					//-   .col-desktop-02.col-mobile-02
					//-     h2.block-title Chroma base colors
					//-     p The monochrome base color is made by having a zero saturation percentage which will adapat to any color placed near it.
					//-       br 
					//-       small Please refer to Working with Stylus for more on theme customization
					
					//- .row.m-b-s
					//-   a(href="#").btn.col-desktop-05.m-b-s.primary primary
					//-   a(href="#").btn.col-desktop-05.m-b-s.success success
					//-   a(href="#").btn.col-desktop-05.m-b-s.info info
					//-   a(href="#").btn.col-desktop-05.m-b-s.warning warning
					//-   a(href="#").btn.col-desktop-05.m-b-s.danger danger
					//- .row.m-b-s
					//-   a(href="#").btn.col-desktop-05.m-b-s.dark dark
					//-   a(href="#").btn.col-desktop-05.m-b-s.light light
					//-   a(href="#").btn.col-desktop-05.m-b-s.gray gray
					//-   a(href="#").btn.col-desktop-05.m-b-s.info info
					//-   a(href="#").btn.col-desktop-05.m-b-s.default default
					//- .row.m-b-s
					//-   a(href="#").btn.border.col-desktop-05.m-b-s.primary primary
					//-   a(href="#").btn.border.col-desktop-05.m-b-s.success success
					//-   a(href="#").btn.border.col-desktop-05.m-b-s.info info
					//-   a(href="#").btn.border.col-desktop-05.m-b-s.warning warning
					//-   a(href="#").btn.border.col-desktop-05.m-b-s.danger danger
					//- .row
					//-   a(href="#").btn.border.col-desktop-05.m-b-s.dark dark
					//-   a(href="#").btn.border.col-desktop-05.m-b-s.light light
					//-   a(href="#").btn.border.col-desktop-05.m-b-s.gray gray
					//-   a(href="#").btn.border.col-desktop-05.m-b-s.info info
					//-   a(href="#").btn.border.col-desktop-05.m-b-s.default default


			section.p-t-b.p-b-b
				.container__fixed-width
					.row
						.col-desktop-02
							h1.m-b-s h1n1
							h2.m-b-s Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							h3.m-b-s Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							h4.m-b-s Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							h5.m-b-s Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							h6.m-b-b Lorem ipsum dolor sit amet, consectetur adipisicing elit.

							.row.m-b-m
								h6.block-title Lorem ipsum
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus at perspiciatis itaque architecto hic alias eos ducimus dignissimos nisi distinctio, deleniti reprehenderit beatae laudantium culpa! Fugiat aut in illo maiores.
							.row.m-b-m
								h6.block-title Lorem ipsum
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus at perspiciatis itaque architecto hic alias eos ducimus dignissimos nisi distinctio, deleniti reprehenderit beatae laudantium culpa! Fugiat aut in illo maiores.
							
							.row.m-b-m
								h6.block-title Lorem ipsum
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus at perspiciatis itaque architecto hic alias eos ducimus dignissimos nisi distinctio, deleniti reprehenderit beatae laudantium culpa! Fugiat aut in illo maiores.
						.col-desktop-02

		script(src='assets/js/main.min.js')


















