//------------------------------------
//-- Hero section
//------------------------------------





//-- init
.site__hero
	size(100%, auto)
	padding $padding__large 0
	background-color $color__gray-lightest