doctype
html.no-js
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Clean
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='assets/css/index.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat:400,700')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:900italic,900,700italic,700,500italic,500,400italic,400,300italic,300,100italic')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Fira+Sans:400,300,300italic,400italic,500,500italic,700,700italic')
		
		<link href='https://fonts.googleapis.com/css?family=Lato:400,300,100' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
		script(src='https://raw.githubusercontent.com/nnnick/Chart.js/master/Chart.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
		script(src='assets/js/main.min.js')